<section class="vehicle-search-container">
    <nav class="vehicle-search-menu">
        <div class="vehicle-counter">
            <div class="vehicle-counter-item">
                <p>110 veículos</p>
                <button class="text-blue">Total</button>
            </div>
            <div class="diagonal-divider"></div>
            <div class="vehicle-counter-item">
                <p>080 veículos</p>
                <button class="text-green">com fotos</button>
            </div>
            <div class="diagonal-divider"></div>
            <div class="vehicle-counter-item">
                <p>030 veículos</p>
                <button class="text-red">sem fotos</button>
            </div>
        </div>
        <div class="divider-wrapper">     
            <div class="vertical-divider"></div>
            <button class="vehicle-inventory-export">
                <p>Exportar Estoque</p>
                <img src="../../../assets/export.webp" alt="Exportar Estoque">
            </button>
            <div class="vertical-divider"></div>
        </div>
        <div class="button-wrapper">
            <a class="register-vehicle-button" routerLink="/vehicle/register"><img src="../../../assets/register-vehicle.webp" alt="Cadastrar veículo"></a>
            <button class="save-button"><img src="../../../assets/save.webp" alt="Salvar"></button>
        </div>
    </nav>
    <div class="horizontal-divider"></div>
    <div class="vehicle-search-filter">
        <form class="vehicle-filter" id="vehicle-filter-form">
            <div class="field-group">
                <label>Placa</label>
                <input type="text" />
            </div>
            <div class="field-group">
                <label>Marca</label>
                <input type="text" />
            </div>
            <div class="field-group">
                <label>Modelo</label>
                <input type="text" />
            </div>
            <div class="field-group">
                <label>Ano Min</label>
                <select class="filter-dropdown">
                <option>Todos</option>
                </select>
            </div>
            <div class="field-group">
                <label>Ano Max</label>
                <select class="filter-dropdown">
                <option>Todos</option>
                </select>
            </div>
            <div class="field-group">
                <label>Preço</label>
                <select class="filter-dropdown">
                <option>Todos</option>
                </select>
            </div>
            <div class="field-group">
                <label>Fotos</label>
                <select class="filter-dropdown">
                <option>Todos</option>
                </select>
            </div>
            <div class="field-group">
                <label>Opcionais</label>
                <input type="text" />
            </div>
            <div class="field-group">
                <label>Cor</label>
                <select class="filter-dropdown">
                <option>Todos</option>
                </select>
            </div>
        </form>
        <button class="clear-button"><img src="../../../assets/clear.webp" alt="Limpar"></button>
        <button type="submit" form="vehicle-filter-form" class="search-btn"><img src="../../../assets/search.webp" alt="Buscar"></button>
        <button class="arrow-button"><img src="../../../assets/arrow-up.webp" alt="Esconder filtros"></button>
    </div>

    <div class="vehicle-list-header">
        <div class="vehicle-search-sort">
            <button><img class="clear-sort" src="../../../assets/unsort.webp" alt="Limpar ordenação"></button>
            <div class="sort-options">
                <button>
                    Marca / Modelo
                    <img src="../../../assets/btn-sort.webp" alt="Sort button">
                </button>
                <p>|</p>
                <button>
                    Ano
                    <img src="../../../assets/btn-sort.webp" alt="Sort button">
                </button>
                <p>|</p>
                <button>
                    Preço
                    <img src="../../../assets/btn-sort.webp" alt="Sort button">
                </button>
                <p>|</p>
                <button>
                    Fotos
                    <img src="../../../assets/btn-sort.webp" alt="Sort button">
                </button>
                <p>|</p>
            </div>
        </div>
        <div class="vehicle-list-header-wrapper">
            <select name="pagination" class="filter-pagination-dropdown">
                <option>Exibir 100</option>
            </select>
            <div class="integrations">
                <div class="integration-logo-background">
                    <img src="../../../assets/icarros.webp" alt="ICarros" class="">
                    <img src="../../../assets/clear-integration.webp" alt="Limpar plano" class="integration-logo-clear">
                </div>
                <div class="integration-logo-background">
                    <img src="../../../assets/webmotors.webp" alt="Webmotors">
                    <img src="../../../assets/clear-integration.webp" alt="Limpar plano" class="integration-logo-clear">
                </div>
            </div>
        </div>
    </div>

    <div class="vehicle-list-body">
        <app-vehicle-search-item></app-vehicle-search-item>
        <app-vehicle-search-item></app-vehicle-search-item>
        <app-vehicle-search-item></app-vehicle-search-item>
    </div>

</section>
